.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    gap: 5vh;

    min-height: 100vh;
}

.eventsGrid {
    display: grid;
    gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.keywordsGrid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    width: 100%;
}
.keywordsGrid > button {
    word-wrap: break-word;
    padding: 0.3rem;
    border-radius: 10px;
}
.selectedTag {
    background-color: blue;
    color: white;
}

.eventCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* place-content: center; */
}
